### Basic Statistical Analysis

##### In this lecture we're going to review some of the basics of statistical testing in python. We're going to talk about hypothesis testing, statistical significance, and using scipy to run student's t-tests

In [1]:
# We use statistics in a lot of different ways in data science, and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
# have resulted in different impacts

# Let's import our usual numpy and pandas libraries
import numpy as np
import pandas as pd

# Now let's bring in some new libraries from scipy
from scipy import stats

In [3]:
# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data
df=pd.read_csv ('data/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
# If we take a look at the data frame inside, we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [5]:
# For the purpose of this lecture, let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015, we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [6]:
# Here's my solution. First, the dataframe df and the early_finishers share index values, so I really just
# want everything in the df which is not in early_finishers
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [7]:
# As you've seen, the pandas data frame object has a variety of statistical functions associated with it. If
# we call the mean function directly on the data frame, we see that each of the means for the assignments are
# calculated. Let's compare the means for our two populations

print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

In [8]:
# Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

# Let's run this function with our two populations, looking at the assignment 1 grades
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721598, pvalue=0.18618101101713855)

In [9]:
# So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven the populations are the same.

In [10]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [11]:
# Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
# that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
# p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
# considered statistically significant. As a research, this would suggest to me that there is something here
# worth considering following up on. For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [12]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.729354,0.789909,0.698034,0.546412,0.805068,0.564897,0.255523,0.600675,0.585806,0.283413,...,0.841015,0.536777,0.828043,0.292529,0.912061,0.061148,0.996373,0.798545,0.123299,0.008488
1,0.173204,0.090093,0.299462,0.951832,0.921427,0.650488,0.559369,0.747216,0.360232,0.502840,...,0.758432,0.977742,0.079372,0.946698,0.894797,0.240051,0.255829,0.535232,0.148644,0.517221
2,0.471637,0.990839,0.256477,0.014444,0.031044,0.540269,0.743006,0.656453,0.249658,0.241484,...,0.576963,0.140442,0.178685,0.508087,0.227129,0.330316,0.322010,0.049538,0.419588,0.208251
3,0.411503,0.776232,0.432535,0.188991,0.958384,0.361864,0.662656,0.175116,0.343978,0.345685,...,0.121653,0.263878,0.490253,0.644402,0.502569,0.048546,0.929682,0.075004,0.654821,0.757351
4,0.483002,0.087882,0.336324,0.938115,0.926565,0.841406,0.361343,0.176021,0.312264,0.487093,...,0.166700,0.471485,0.532514,0.188971,0.660261,0.517310,0.647910,0.868658,0.602970,0.233016

In [14]:
# Ok, let's create a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [15]:
# Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
# as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that the columns are different.

# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 1 is statistically significantly different at alpha=0.1, pval=0.01930647411669427
Col 5 is statistically significantly different at alpha=0.1, pval=0.0836320373746332
Col 11 is statistically significantly different at alpha=0.1, pval=0.038253221927347696
Col 21 is statistically significantly different at alpha=0.1, pval=0.05059244595490036
Col 29 is statistically significantly different at alpha=0.1, pval=0.032905273747296425
Col 30 is statistically significantly different at alpha=0.1, pval=0.08346515895264892
Col 37 is statistically significantly different at alpha=0.1, pval=0.08494350284997818
Col 39 is statistically significantly different at alpha=0.1, pval=0.00590689455056875
Col 58 is statistically significantly different at alpha=0.1, pval=0.009826411644644678
Col 60 is statistically significantly different at alpha=0.1, pval=0.030725910041586986
Col 62 is statistically significantly different at alpha=0.1, pval=0.0780952004640966
Col 65 is statistically significantly different at alpha=0.1, pval=0.0687764316286954
Col 66 is statistically significantly different at alpha=0.1, pval=0.055617851702576306
Col 74 is statistically significantly different at alpha=0.1, pval=0.06893824606032785
Col 79 is statistically significantly different at alpha=0.1, pval=0.048664786030817045
Col 81 is statistically significantly different at alpha=0.1, pval=0.052503093410272796
Col 85 is statistically significantly different at alpha=0.1, pval=0.004204231187648459
Col 89 is statistically significantly different at alpha=0.1, pval=0.038001172771665793
Total number different was 18, which is 18.0%

In [16]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.05)

Col 1 is statistically significantly different at alpha=0.05, pval=0.01930647411669427
Col 11 is statistically significantly different at alpha=0.05, pval=0.038253221927347696
Col 29 is statistically significantly different at alpha=0.05, pval=0.032905273747296425
Col 39 is statistically significantly different at alpha=0.05, pval=0.00590689455056875
Col 58 is statistically significantly different at alpha=0.05, pval=0.009826411644644678
Col 60 is statistically significantly different at alpha=0.05, pval=0.030725910041586986
Col 79 is statistically significantly different at alpha=0.05, pval=0.048664786030817045
Col 85 is statistically significantly different at alpha=0.05, pval=0.004204231187648459
Col 89 is statistically significantly different at alpha=0.05, pval=0.038001172771665793
Total number different was 9, which is 9.0%

In [17]:
# So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
# that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
# your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
# chi squared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.021336378725246484
Col 1 is statistically significantly different at alpha=0.1, pval=0.0010722108034711911
Col 2 is statistically significantly different at alpha=0.1, pval=0.0011106240653330714
Col 3 is statistically significantly different at alpha=0.1, pval=0.0014888198250279949
Col 4 is statistically significantly different at alpha=0.1, pval=0.0004276563062312044
Col 5 is statistically significantly different at alpha=0.1, pval=0.00012615954233681528
Col 6 is statistically significantly different at alpha=0.1, pval=0.0013051467958117289
Col 7 is statistically significantly different at alpha=0.1, pval=0.000576311439560416
Col 8 is statistically significantly different at alpha=0.1, pval=8.639146630361647e-06
Col 9 is statistically significantly different at alpha=0.1, pval=0.00018463988281457064
Col 10 is statistically significantly different at alpha=0.1, pval=0.0002176323576674599
Col 11 is statistically significantly different at alpha=0.1, pval=7.736210909383339e-06
Col 12 is statistically significantly different at alpha=0.1, pval=8.160054632452931e-05
Col 13 is statistically significantly different at alpha=0.1, pval=3.756311448037808e-05
Col 14 is statistically significantly different at alpha=0.1, pval=0.00015268632895856378
Col 15 is statistically significantly different at alpha=0.1, pval=0.00021731351073620226
Col 16 is statistically significantly different at alpha=0.1, pval=4.478000494360618e-05
Col 17 is statistically significantly different at alpha=0.1, pval=0.0011933415730553394
Col 18 is statistically significantly different at alpha=0.1, pval=0.03737856590601145
Col 19 is statistically significantly different at alpha=0.1, pval=0.00037129008170419336
Col 20 is statistically significantly different at alpha=0.1, pval=0.0003682257576374406
Col 21 is statistically significantly different at alpha=0.1, pval=0.023896780649538152
Col 22 is statistically significantly different at alpha=0.1, pval=0.005271686469309724
Col 23 is statistically significantly different at alpha=0.1, pval=0.0003918804370755345
Col 24 is statistically significantly different at alpha=0.1, pval=0.00240214284759285
Col 25 is statistically significantly different at alpha=0.1, pval=6.441409395716451e-05
Col 26 is statistically significantly different at alpha=0.1, pval=0.0008278245100106673
Col 27 is statistically significantly different at alpha=0.1, pval=0.00037262725144508605
Col 28 is statistically significantly different at alpha=0.1, pval=0.008737603145206682
Col 29 is statistically significantly different at alpha=0.1, pval=3.8534169554359126e-05
Col 30 is statistically significantly different at alpha=0.1, pval=1.5355815590399603e-05
Col 31 is statistically significantly different at alpha=0.1, pval=0.0014810273440160906
Col 32 is statistically significantly different at alpha=0.1, pval=0.0020273228751872554
Col 33 is statistically significantly different at alpha=0.1, pval=0.0003733104984104065
Col 34 is statistically significantly different at alpha=0.1, pval=4.174345799551645e-06
Col 35 is statistically significantly different at alpha=0.1, pval=0.0014188854554753041
Col 36 is statistically significantly different at alpha=0.1, pval=0.005304433415332889
Col 37 is statistically significantly different at alpha=0.1, pval=1.5241606108661533e-07
Col 38 is statistically significantly different at alpha=0.1, pval=0.00010158958011101194
Col 39 is statistically significantly different at alpha=0.1, pval=0.0007248268158311151
Col 40 is statistically significantly different at alpha=0.1, pval=2.0887789572912083e-05
Col 41 is statistically significantly different at alpha=0.1, pval=0.0022039903057103033
Col 42 is statistically significantly different at alpha=0.1, pval=0.0005735007112138137
Col 43 is statistically significantly different at alpha=0.1, pval=0.0006171598277306246
Col 44 is statistically significantly different at alpha=0.1, pval=0.00451674333284056
Col 45 is statistically significantly different at alpha=0.1, pval=0.0015578428676465013
Col 46 is statistically significantly different at alpha=0.1, pval=0.0005364856501516263
Col 47 is statistically significantly different at alpha=0.1, pval=0.0009047878352359631
Col 48 is statistically significantly different at alpha=0.1, pval=0.0020784766036630927
Col 49 is statistically significantly different at alpha=0.1, pval=5.689224853155242e-05
Col 50 is statistically significantly different at alpha=0.1, pval=0.021870465633159003
Col 51 is statistically significantly different at alpha=0.1, pval=0.04058331793298748
Col 52 is statistically significantly different at alpha=0.1, pval=7.177894050790662e-05
Col 53 is statistically significantly different at alpha=0.1, pval=5.422733018334656e-05
Col 54 is statistically significantly different at alpha=0.1, pval=0.0032899493812315705
Col 55 is statistically significantly different at alpha=0.1, pval=0.0016528569323561568
Col 56 is statistically significantly different at alpha=0.1, pval=0.00029026278709934095
Col 57 is statistically significantly different at alpha=0.1, pval=0.00026492679277121203
Col 58 is statistically significantly different at alpha=0.1, pval=0.00023526529555904357
Col 59 is statistically significantly different at alpha=0.1, pval=0.00017022516180676322
Col 60 is statistically significantly different at alpha=0.1, pval=0.0007669538785518294
Col 61 is statistically significantly different at alpha=0.1, pval=0.0016976247715580687
Col 62 is statistically significantly different at alpha=0.1, pval=0.00029111494390591234
Col 63 is statistically significantly different at alpha=0.1, pval=0.0017994759216326713
Col 64 is statistically significantly different at alpha=0.1, pval=0.003331776088778154
Col 65 is statistically significantly different at alpha=0.1, pval=9.495509442304572e-05
Col 66 is statistically significantly different at alpha=0.1, pval=1.6584945621708894e-06
Col 67 is statistically significantly different at alpha=0.1, pval=0.0009752266780759261
Col 68 is statistically significantly different at alpha=0.1, pval=0.00023457690457547535
Col 69 is statistically significantly different at alpha=0.1, pval=0.0006442974218767603
Col 70 is statistically significantly different at alpha=0.1, pval=0.04524187364361072
Col 71 is statistically significantly different at alpha=0.1, pval=0.00014311577748354654
Col 72 is statistically significantly different at alpha=0.1, pval=2.7110884412630563e-05
Col 73 is statistically significantly different at alpha=0.1, pval=2.8069760369555703e-06
Col 74 is statistically significantly different at alpha=0.1, pval=0.0046744471247838785
Col 75 is statistically significantly different at alpha=0.1, pval=0.014219056875023785
Col 76 is statistically significantly different at alpha=0.1, pval=0.0006312786365327459
Col 77 is statistically significantly different at alpha=0.1, pval=0.0021393868408995115
Col 78 is statistically significantly different at alpha=0.1, pval=0.0005200348347904505
Col 79 is statistically significantly different at alpha=0.1, pval=0.004693135292152796
Col 80 is statistically significantly different at alpha=0.1, pval=9.019178344447195e-05
Col 81 is statistically significantly different at alpha=0.1, pval=0.003697342922033753
Col 82 is statistically significantly different at alpha=0.1, pval=0.001069818658745321
Col 83 is statistically significantly different at alpha=0.1, pval=0.0006008780457241302
Col 84 is statistically significantly different at alpha=0.1, pval=0.0024016058323511427
Col 85 is statistically significantly different at alpha=0.1, pval=0.0029964208542503723
Col 86 is statistically significantly different at alpha=0.1, pval=0.0006838038892710941
Col 87 is statistically significantly different at alpha=0.1, pval=0.00016336236231598712
Col 88 is statistically significantly different at alpha=0.1, pval=2.8162002151487822e-05
Col 89 is statistically significantly different at alpha=0.1, pval=0.0008459588127850743
Col 90 is statistically significantly different at alpha=0.1, pval=0.024765612769785398
Col 91 is statistically significantly different at alpha=0.1, pval=0.0013806684677812606
Col 92 is statistically significantly different at alpha=0.1, pval=0.00010674680513216895
Col 93 is statistically significantly different at alpha=0.1, pval=0.007869577495644427
Col 94 is statistically significantly different at alpha=0.1, pval=4.2803263247366664e-05
Col 95 is statistically significantly different at alpha=0.1, pval=0.001016268379685666
Col 96 is statistically significantly different at alpha=0.1, pval=4.6242666042190254e-05
Col 97 is statistically significantly different at alpha=0.1, pval=0.003586707821020298
Col 98 is statistically significantly different at alpha=0.1, pval=0.017257101293956585
Col 99 is statistically significantly different at alpha=0.1, pval=0.00011096900689478504
Total number different was 100, which is 100.0%